DEBUG=on

DB_HOST=db
DB_NAME=nope
DB_USER=nope
DB_PASSWORD=nope

ALIYUN_SMS_ACCESS_KEY_ID=11111111111
ALIYUN_SMS_ACCESS_KEY_SECRET=11111111111

PROJECT_NAME=课堂
SMS_VERIFY_TEMPLATE_CODE=SMS_100000001
SMS_NOTIFY_TEMPLATE_CODE=SMS_100000001

OSS_ACCESS_KEY_ID=1
OSS_ACCESS_KEY_SECRET=1
OSS_BUCKET_NAME=1
OSS_ENDPOINT=1
